@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
:root {
    --primary-color : #e8e8e8;
    --secondar-color : #8bcdcd;
    --tertiary-color : #393e46;
}

*{
    box-sizing: border-box;
}


body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--secondar-color);
}

nav h2 {
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.site-name {
    text-decoration: none;
    color: black;
}

.site-name:hover {
    color: #eeeeee;
}

#form {
    padding: 10px;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background-color: var(--primary-color) ;
    color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
}

.btn:focus {
    outline: none;
}
.btn:active {
    outline: none;
}
.btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);

}
.movie {
    width: 300px;
    margin: 1rem;
    background-color: #3797a4;
    box-shadow: 2px 2px 6px rgba( 0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.movie img {
    width: 100%;
}

.movie-info {
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 20px;
    width: 200px;
}

.movie-info h3 span {
    background-color: transparent;
    font-size: 15px;
    font-style: italic;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #e8e8e8;
    border-radius: 15px 15px 0 0;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

